[Unit]
Description=WOWBOX Remote Printing Agent
After=network.target bluetooth.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/wowbox_milab/ivy2/
Environment="WOWBOX_SERVER=https://wowbox.onrender.com"
Environment="AGENT_KEY=wowbox_secret_key_123!"
ExecStart=/usr/bin/python3 platform/agent/agent.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
